body {
    background-color: linen;
}

h1 {
    font-family: "Roboto", "Arial", sans-serif;
    color: maroon;
    margin-left: 40px;
}

.p1 {
    /* font-family: "Lucida Console", "Courier New", monospace; */
    font-family: "Sarabun", sans-serif;
    color: dodgerblue;
    font-size: 18px;
    text-align: center;
}

.p2 {
    font-family: "Sarabun", sans-serif;
    color: navy;
    font-size: 18px;
    font-weight: bold;
}

h3 {
    font-family: "Sarabun", sans-serif;
    color: orange;
    /* เปลี่ยนสีข้อความเป็นสีส้ม */
    text-shadow: 2px 2px 4px black;
    /* เพิ่มเงาให้ข้อความ */
    font-size: 48px;
    /* ก าหนดขนาดฟอนต์*/
    text-align: center;
    /* จัดข้อความให้อยู่ตรงกลาง */
}

.box {

    width: 200px;
    /* ก าหนดความกว้างของ Content */
    height: 100px;
    /* ก าหนดความสูงของ Content */
    padding: 20px;
    /* ระยะห่างจากเนื้อหาไปถึงขอบ */
    border: 5px solid #007bff;
    /* เส้นขอบ */
    margin: 30px;
    /* ระยะห่างจากกล่องอื่น ๆ */
    background-color: #fff453;
    /* สีพื้นหลังของเนื้อหา */

}

.box-shadow {
    width: 400px;
    height: 120px;
    padding: 15px;
    border: 2px solid #4caf50;
    margin: 25px;
    background-color: #e8f5e9;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    /*เงา*/
    /*โค้งมน*/
    /* text-align: center; */
    line-height: 20px;
    /*ความสูงของบรรทัด ถ้าสูงท าให้อ่านง่ายขึ้น*/
}